RewriteEngine	On
RewriteRule	^$	index.php	[NC,L] # Redirect root directory to index.php

RewriteRule	^editor$	editor.php	[NC,L] # Redirect /editor to editor.php

RewriteRule	^delete$	delete.php	[NC,L] # Redirect /delete to delete.php

RewriteRule	^search$	search.php	[NC,L] # Redirect /search to search.php

RewriteRule	^profile$	profile.php	[NC,L] # Redirect /profile to profile.php