* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #eeeeee;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  min-width: 330px; }

.disabled {
  display: none !important; }

.no-select {
  user-select: none !important; }

.nowrap {
  white-space: nowrap !important; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009688;
  height: 64px;
  line-height: 3.6em;
  padding: 0 20px;
  color: #FFF;
  box-shadow: 0 4px 5px #ccc; }
  #header .title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    text-shadow: 0 0 4px #000;
    color: #FFF !important;
    text-decoration: none !important; }
    #header .title:after {
      content: "io";
      text-shadow: none;
      background: repeating-linear-gradient(to bottom right, #ff0033, #ff0033 25%, #ff8000 25%, #ff8000 35%, #ffe600 35%, #ffe600 50%, #1ab34d 50%, #1ab34d 65%, #1a66ff 65%, #1a66ff 75%, #801cb3 75%, #801cb3 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: .6px #000; }

button, a.button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  color: #FFF;
  height: 36px;
  padding: 0 16px;
  outline: none;
  cursor: pointer; }
  button.flat, a.button.flat {
    background: none; }
  button.raised, a.button.raised {
    box-shadow: 0 0 4px #525252, 0 2px 3px #525252;
    transition: box-shadow .2s ease; }
    button.raised:hover, a.button.raised:hover {
      box-shadow: 0 0 5px 1px #525252, 0 3px 3px #525252; }

button#makeaskin, a.button#makeaskin {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), transparent), #946554;
  line-height: 200%;
  text-decoration: none; }
button#loadmore, a.button#loadmore {
  color: #009688; }

#header .user {
  text-shadow: 0 1px 2px #000;
  font-weight: bold; }
  #header .user .totalScore {
    color: #ccc;
    font-weight: normal; }
#header .sort-list {
  max-height: 26px;
  overflow-y: hidden;
  background-color: #009688;
  padding: 0 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  #header .sort-list .page {
    text-shadow: 0 1px 2px #000;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    display: block;
    line-height: 26px;
    margin-bottom: 10px;
    transition: color .05s ease; }
    #header .sort-list .page:hover {
      color: #d2d2d2; }
#header .search-container {
  position: relative;
  font-size: 14px;
  cursor: text; }
  #header .search-container #search-bar {
    color: #FFF;
    background-color: #00756a;
    border: none;
    border-bottom: 3px solid #008275;
    border-radius: 15px;
    outline: none;
    padding: 5px 15px; }
    #header .search-container #search-bar:focus + .search-placeholder, #header .search-container #search-bar:valid + .search-placeholder {
      display: none; }
  #header .search-container .search-placeholder {
    color: #CCC;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 15px; }
  #header .search-container:after {
    font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    top: 0;
    right: 15px; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 20px; }
  .container .card {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border: 2px solid #FFF;
    box-shadow: 0 0 5px #acacac, 0 5px 5px #acacac;
    border-radius: 2px;
    transition: transform .2s ease, box-shadow .2s ease;
    margin: 10px;
    text-decoration: none;
    color: initial; }
    .container .card .under {
      padding: 0 5px;
      font-size: 14px; }
      .container .card .under .author {
        color: #a0a0a0; }
    .container .card img {
      display: block;
      margin-bottom: 5px; }
    .container .card div {
      line-height: initial; }
    .container .card:hover {
      transform: translateY(-3px);
      perspective: 1px;
      box-shadow: 0 0 7px 1px #acacac, 0 5px 10px #acacac; }

.under-content {
  text-align: center;
  margin: 10px 0; }

/*# sourceMappingURL=index.css.map */
