* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #eeeeee;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  min-width: 330px; }

a {
  color: #b9dbff;
  text-decoration: none; }

.disabled {
  display: none !important; }

.hidden {
  visibility: hidden !important; }

.no-select {
  user-select: none !important; }

.nowrap {
  white-space: nowrap !important; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009688;
  height: 64px;
  line-height: 3.6em;
  padding: 0 20px;
  color: #FFF;
  box-shadow: 0 4px 5px #ccc; }
  #header .title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    text-shadow: 0 0 4px #000;
    color: #FFF !important;
    text-decoration: none !important; }
    #header .title:after {
      content: "io";
      text-shadow: none;
      background: repeating-linear-gradient(to bottom right, #ff0033, #ff0033 25%, #ff8000 25%, #ff8000 35%, #ffe600 35%, #ffe600 50%, #1ab34d 50%, #1ab34d 65%, #1a66ff 65%, #1a66ff 75%, #801cb3 75%, #801cb3 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: .6px #000; }
  #header .name {
    font-weight: bold;
    text-shadow: 0 1px 2px #000; }

button, a.button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  color: #FFF;
  height: 36px;
  padding: 0 16px;
  outline: none;
  cursor: pointer; }
  button.flat, a.button.flat {
    background: none; }
  button.raised, a.button.raised {
    box-shadow: 0 0 4px #525252, 0 2px 3px #525252;
    transition: box-shadow .2s ease; }
    button.raised:hover, a.button.raised:hover {
      box-shadow: 0 0 5px 1px #525252, 0 3px 3px #525252; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }
  .modal .modal-container {
    position: relative;
    top: -10%;
    box-shadow: 0 0 4px 2px #5e5e5e;
    max-width: 90vw;
    min-width: 20vw;
    background: #cfd8dc; }
    .modal .modal-container .modal-header {
      line-height: 1em;
      background: #009688;
      color: #FFF;
      padding: 10px;
      display: flex;
      justify-content: space-between; }
      .modal .modal-container .modal-header .modal-close {
        font-size: 1.4em;
        cursor: pointer;
        transition: color .1s ease;
        transform: translateY(-2px); }
        .modal .modal-container .modal-header .modal-close:hover {
          color: #ff6868;
          font-weight: bold; }
    .modal .modal-container .modal-content {
      padding: 5px 10px;
      max-height: 99vh;
      overflow-y: auto; }

.button-inline {
  text-decoration: underline;
  cursor: pointer;
  transition: color .1s ease; }
  .button-inline:hover {
    color: #c5c5c5; }

.user-form {
  width: 40vw; }
  .user-form .user-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; }
    .user-form .user-section .user-text {
      float: left; }
    .user-form .user-section .user-input {
      float: right;
      font-size: 18px;
      outline: none;
      width: 50%;
      border: 1px solid #bdbdbd;
      transition: border .1s ease;
      padding: 1px; }
      .user-form .user-section .user-input:focus {
        border: 1px solid #4a4a4a; }
    .user-form .user-section .user-error {
      color: #F00;
      font-size: 16px;
      text-align: center;
      width: 100%; }
  .user-form .user-submit {
    background-color: #009688;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 1px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform .1s ease;
    box-shadow: 0 2px 1px 0px #999; }
    .user-form .user-submit:hover {
      transform: translateY(-1px);
      box-shadow: 0 2px 1px 1px #999; }
    .user-form .user-submit:active {
      transform: translateY(0); }

button#makeaskin, a.button#makeaskin {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), transparent), #946554;
  line-height: 200%;
  text-decoration: none; }

.user {
  text-shadow: 0 1px 2px #000;
  font-weight: bold; }
  .user .totalScore {
    color: #ccc;
    font-weight: normal; }

/*# sourceMappingURL=user.css.map */
